*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #181818;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 140px;
}
.conteiner{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 152px;
    width: 128px;
    height: 31px;
}
header nav ul{
    display: flex;
}
header nav li{
    margin-left: 32px;

}
header nav li:first-of-type{
    margin-right: 56px;
}
header nav li:first-of-type a{
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
header nav li:last-of-type a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
}
header nav li a{
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

}
.tittle {
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height:calc(100vh - 90px);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    position: relative;
}
.main_banner{
    max-width: 580px;
    text-align: center;
}
.Photographer{
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}
.Aperture{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
    margin-bottom: 18px;
}
.text{
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.Past_clients{
    padding-top: 113px;
    padding-bottom: 100px;

    background-color: black;

}
.Past{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.subtitle{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;}
.mini_icon{
    position: absolute;
    bottom: 46px;
    right: 46px;
    display: flex;
    list-style-type: none;
}
.mini_icon li{
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 10px;
}
.mini_icon li:before{
    content: url("../images/before1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    position: relative;
    bottom: -5px;
}
.mini_icon li:nth-child(2):before{
    content: url("../images/before2.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    position: relative;
    bottom: -5px;
}
.mini_icon li:nth-child(3):before {
    content: url("../images/before3.svg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    position: relative;
    bottom: -5px;
}
.mini_icon li:nth-child(4):before {
    content: url("../images/before4.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: relative;
    bottom: -5px;
}

.owl-carousel{
    display: flex;
    justify-content: space-between;
    padding-left:46px;
    padding-right: 46px;

}

.combined{
    width: 128px;
    height: 30px;
}
.pic2{
    width: 128px;
    height: 78px;

}
.pic3{

    width: 128px;
    height: 20px;
}
.pic4{

    width: 128px;
    height: 36px;
}
.pic5{
    width: 128px;
    height: 32px;
}